<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-3" *ngFor="let temp of products | paginate: config">
                    <div class="product-box">
                        <a routerLink="/product/{{ temp.id }}" routerLinkActive="active-link">
                            <img src="{{ temp.imageUrl }}" class="img-responsive">
                        </a>
                        <h1>{{ temp.name }}</h1>
                        <div class="price">{{ temp.unitPrice | currency:"USD" }}</div>
                        <button (click)="addToCart(temp)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
                <!-- in case search tends no result we will show an alert -->
                <div *ngIf="products?.length == 0" class="alert alert-danger" role="alert">
                    No product found.
                </div>
            </div>
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%;">
                                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                                Select page size : 
                                <select (change)="updatePageSize($event)" class="select">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>